.container {
 
  position: relative;
  display: flex; /* Flexbox for centering */
  flex-direction: column; /* Arrange children vertically */
   /* Center children vertically */
  
  padding: 20px; /* Add some padding around the content */
}

.container::before {
  content: "";
  position: absolute;
  top: 85px;
  left: 97px;
  bottom: 54px;
  width: 2px;
  border-left: 3px dotted #626262;
}


@media (max-width: 768px) {
  .container::before {
    left: 37px;
  }
  .container::before {
    content: "";
    position: absolute;
    top: 85px;
    left: 56px;
    bottom: 54px;
    width: 2px;
    border-left: 3px dotted #626262;
  }
}
@media (max-width:480px) {
  
  .container{
    padding: 0px;
  }
  .container::before {
    left: 16px;
    top: 55px;
    bottom: 30px;
  }
}
