.app {
  background-color: #141414;
  /* Dark mode background */
  color: #ffffff;
  /* Text color for dark mode */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.logoContainer {
  box-sizing: border-box;
  display: flex;
  margin: 100px 20px 15px 20px;
  flex-direction: column;
  align-items: center;


}

.companyLogo {

  margin-bottom: 10px;

}

.welcomeText {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}

.zone {
  font-size: 40px;
  margin-bottom: 20px;
}

.createButton {
  background-color: transparent;
  color: #ffffff;
  
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  
  border-radius: 15px;

  /* Apply gradient border */
  border: 4px solid; /* Thickness of the border */
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, rgb(120, 7, 164), rgb(235, 144, 255));
}





@media (max-width: 768px) {
  .app {
    padding: 10px;
    justify-content: flex-start;
  }

  .companyLogo {
    font-size: 40px;
  }

  .animeLogo {

    width: 180px;
    margin-bottom: 20px;
  }

  .welcomeText {
    font-size: 20px;
  }

  .createButton {
    width: 80%;
    font-size: 16px;
  }
}